<section style="margin: 50px auto;">
  <h4 style="text-align: center;margin: 50px auto;">Zoznam kníh</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Obal</th>
        <th>Názov</th>
        <th>Autor</th>
        <th>Vydavateľ</th>
        <th>Rok</th>
        <th>Množstvo</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="book in books">
        <td>
          <a ng-href="#/books/{{book.bookId}}" class="btn btn-link">
            <img ng-src="{{book.cover}}" alt="" style="height: 100px; width: auto; line-height: 100px;"></td>
          </a>
        <td style="line-height: 100px;"><a ng-href="#/books/{{book.bookId}}" class="btn btn-link">{{book.title}}</a></td>
        <td style="line-height: 100px;"><a ng-href="#/books/{{book.bookId}}" class="btn btn-link">{{book.author}}</a></td>
        <td style="line-height: 100px;"><a ng-href="#/books/{{book.bookId}}" class="btn btn-link">{{book.publisher}}</a></td>
        <td style="line-height: 100px;"><a ng-href="#/books/{{book.bookId}}" class="btn btn-link">{{book.year}}</a></td>
        <td style="line-height: 100px;"><a ng-href="#/books/{{book.bookId}}" class="btn btn-link">{{book.quantity}}</a></td>
      </tr>
    </tbody>
  </table>
</section>

<button class="btn" ng-click="open()">Nová kniha</button>

<div modal="newBook" close="close()" options="modalOpts">
    <div class="modal-header">
        <h3>Nová kniha</h3>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" ng-submit="addBook()" name="addBookForm">
        <div class="control-group">
          <draganddrop cover="book.cover"></draganddrop>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputTitle">Názov</label>
        <div class="controls">
        <input type="text" ng-model="book.title" id="inputTitle" class="input-field" required placeholder="Názov">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputAuthor">Autor</label>
        <div class="controls">
        <input type="text" ng-model="book.author" id="inputAuthor" class="input-field" required placeholder="Autor">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputPublisher">Vydavateľ</label>
        <div class="controls">
        <input type="text" ng-model="book.publisher" id="inputPublisher" class="input-field" placeholder="Spoločenstvo United">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputYear">Rok</label>
        <div class="controls">
        <input type="number" ng-model="book.year" id="inputYear" class="input-field" placeholder="2013" min="1600">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputISBN10">ISBN-10</label>
        <div class="controls">
        <input type="text" ng-model="book.isbn.isbn10" isbn10 id="inputISBN10" class="input-field" placeholder="1906465592">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputISBN13">ISBN-13</label>
        <div class="controls">
        <input type="text" ng-model="book.isbn.isbn13" isbn13 id="inputISBN13" class="input-field" placeholder="978-1906465599">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputQuantity">Množstvo</label>
        <div class="controls">
        <input type="number" ng-model="book.quantity" id="inputQuantity" class="input-field" placeholder="1" min="0">
        </div>
        </div>

        <div class="control-group">
        <div class="controls">
        <button type="submit" class="btn btn-success">Pridať</button>
        </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
        <button class="btn cancel" ng-click="close()">Zrušiť</button>
        <button class="btn btn-success" ng-click="addBook()">Pridať</button>
    </div>
</div>


