<section>
  <h4 class="content-header">Zoznam používateľov</h4>
  <button class="btn" ng-click="open()"><i class="icon-rss"></i> Nový používateľ</button>

  <table class="table">
    <thead>
      <tr>
        <th>Foto</th>
        <th>E-mail</th>
        <th>Meno</th>
        <th>Tel. Číslo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users" ng-class="{true: 'info'}[user.admin==true]">
        <td><img ng-src="{{user.gravatar}}" alt=""></td>
        <td style="line-height: 50px;">
          <a ng-href="#/users/{{user.userId}}" class="btn btn-link">{{user.email}}</a>
        </td>
        <td style="line-height: 50px;">
          <a ng-href="#/users/{{user.userId}}" class="btn btn-link">{{user.name}}</a>
        </td>
        <td style="line-height: 50px;">
          <a ng-href="#/users/{{user.userId}}" class="btn btn-link">{{user.phone}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-block" ng-click="query()" ng-show="mayQuery"><i class="icon-repeat"></i> Ďalší</button>
</section>

<div modal="newUser" close="close()" options="modalOpts">
    <div class="modal-header">
      <h3>Nový používateľ</h3>
    </div>

    <div class="modal-body">

      <form class="form-horizontal" ng-submit="addUser()" name="addUserForm">
      <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
      <input type="email" ng-model="user.email" id="inputEmail" class="input-field" required placeholder="hello@spolocenstvounited.sk">
      </div>
      </div>

      <div class="control-group">
      <label class="control-label" for="inputPassword">Heslo</label>
      <div class="controls">
      <input type="password" ng-model="user.password" id="inputPassword" class="input-field" required placeholder="******">
      </div>
      </div>

      <div class="control-group">
      <label class="control-label" for="inputName">Meno</label>
      <div class="controls">
      <input type="text" ng-model="user.name" id="inputName" class="input-field" placeholder="Spoločenstvo United">
      </div>
      </div>

      <div class="control-group">
      <label class="control-label" for="inputPhone">Tel. Číslo</label>
      <div class="controls">
      <input type="tel" ng-model="user.phone" id="inputPhone" class="input-field" placeholder="+421 900 123 456">
      </div>
      </div>

      <div class="control-group">
      <div class="controls">
      <label class="checkbox">
        <input type="checkbox" ng-model="user.admin"> Admin
      </label>
      </div>
      </div>

      <div class="control-group">
      <div class="controls">
      <button type="submit" class="btn btn-success hide">Pridať</button>
      </div>
      </div>

      </form>
    </div>

    <div class="modal-footer">
        <button class="btn cancel" ng-click="close()">Zrušiť</button>
        <button class="btn btn-success" ng-click="addUser()">Pridať</button>
    </div>
</div>
