/* Put your CSS here */
/* line 8, ../../app/styles/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../app/styles/main.scss */
html, body {
  margin: 20px;
}

/* line 16, ../../app/styles/main.scss */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  position: relative;
}

/* line 23, ../../app/styles/main.scss */
input.input-field {
  height: 30px;
  padding: 0 6px;
  text-align: left;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../../app/styles/main.scss */
input.input-search {
  width: 150px;
}

/* line 35, ../../app/styles/main.scss */
.input-field.ng-invalid:focus {
  color: #b94a48;
  border-color: #ee5f5b;
}
/* line 38, ../../app/styles/main.scss */
.input-field.ng-invalid:focus:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/* line 61, ../../app/styles/main.scss */
.container {
  width: 100%;
  padding: 5px;
  padding-left: 220px;
}

/* line 67, ../../app/styles/main.scss */
.modal-body {
  height: 500px;
}

/* line 71, ../../app/styles/main.scss */
.book-detail {
  overflow: hidden;
}

/* line 75, ../../app/styles/main.scss */
.book-detail-cover {
  width: 15%;
  float: left;
  padding: 25px 10px 5px;
}
/* line 80, ../../app/styles/main.scss */
.book-detail-cover img {
  display: block;
  margin: 0 auto;
}

/* line 86, ../../app/styles/main.scss */
.book-detail-description {
  float: right;
  width: 85%;
  padding: 5px 10px;
}

/* line 92, ../../app/styles/main.scss */
.nav {
  width: 200px;
  position: fixed;
}

/* line 97, ../../app/styles/main.scss */
.nav-link {
  display: block;
  line-height: 30px;
}

/* line 102, ../../app/styles/main.scss */
.nav-search {
  margin-top: 20px;
}
