/* Put your CSS here */
/* line 8, ../../app/styles/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../app/styles/main.scss */
html, body {
  margin: 20px;
}

/* line 16, ../../app/styles/main.scss */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 22, ../../app/styles/main.scss */
input.input-field {
  height: 40px;
  line-height: 20px;
  padding: 0 6px;
  text-align: left;
  font-size: 12px;
}

/* line 30, ../../app/styles/main.scss */
.input-field.ng-invalid:focus {
  color: #b94a48;
  border-color: #ee5f5b;
}
/* line 33, ../../app/styles/main.scss */
.input-field.ng-invalid:focus:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/* line 39, ../../app/styles/main.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

/* line 50, ../../app/styles/main.scss */
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/* line 58, ../../app/styles/main.scss */
.ddupload {
  position: relative;
  overflow: hidden;
}
/* line 61, ../../app/styles/main.scss */
.ddupload input[type="file"] {
  position: absolute;
  left: -500px;
  top: -50px;
}

/* line 68, ../../app/styles/main.scss */
.dropbox-remove {
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

/* line 76, ../../app/styles/main.scss */
.dropbox {
  position: relative;
  line-height: 50px;
  padding: 5px;
  color: #d8d8d6;
  font-size: 42px;
  text-align: center;
  border: 2px solid #d8d8d6;
  border-radius: 5px;
  -webkit-transition: color, background-color, 1s;
  -moz-transition: color, background-color, 1s;
  -o-transition: color, background-color, 1s;
  transition: color, background-color, 1s;
}
/* line 87, ../../app/styles/main.scss */
.dropbox.dropbox-over {
  color: #55a966;
  border-color: #55a966;
}
/* line 92, ../../app/styles/main.scss */
.dropbox:hover {
  color: #55a966;
  border-color: #55a966;
  cursor: pointer;
}
/* line 98, ../../app/styles/main.scss */
.dropbox.dropbox-not-available {
  color: #eea236;
  border-color: #eea236;
}
/* line 103, ../../app/styles/main.scss */
.dropbox img {
  display: block;
  margin: 0 auto;
}

/* line 109, ../../app/styles/main.scss */
.dropbox-progress {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #55a966;
  -webkit-transition: width, 100ms;
  -moz-transition: width, 100ms;
  -o-transition: width, 100ms;
  transition: width, 100ms;
}

/* line 119, ../../app/styles/main.scss */
.modal-body {
  height: 500px;
}
