/* line 3, ../../app/styles/main.scss */
.book-detail {
  overflow: hidden;
}

/* line 7, ../../app/styles/main.scss */
.book-detail-cover {
  width: 15%;
  float: left;
  padding: 25px 10px 5px;
}
/* line 12, ../../app/styles/main.scss */
.book-detail-cover img {
  display: block;
  margin: 0 auto;
}

/* line 18, ../../app/styles/main.scss */
.book-detail-description {
  float: right;
  width: 85%;
  padding: 5px 10px;
}

/* line 24, ../../app/styles/main.scss */
.content-header {
  text-align: center;
  margin-bottom: 50px;
}
