$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

* {
  @include box-sizing(border-box)
}

html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

input.input-field {
  height: 40px;
  line-height: 30px;
  text-align: left;
}

.input-field.ng-invalid:focus {
  color: #b94a48;
  border-color: #ee5f5b;
  &:focus {
    border-color: darken(#ee5f5b, 10%);
    @include box-shadow(0 0 6px lighten(#ee5f5b, 20%));
  }
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}



.ddupload {
  position: relative;
  overflow: hidden;
  input[type="file"] {
    position: absolute;
    left: -500px;
    top: -50px;
  }
}

.dropbox {
  border: 2px solid #DDD;
  padding: 5px;
  @include border-radius(8px);
  background-color: #FEFFEC;
  cursor: pointer;

  &.dropbox-not-available {
    background-color: #F88;
  }

  &.dropbox-over {
    background-color: #bfb;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.dropbox-text {
  display: block;
  text-align: center;
  color: #BBB;
  font-size: 2em;
  font-family: Helvetica, sans-serif;
  line-height: 50px;
}

.modal-body {
  height: 500px;
}
