$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/_mixins";

/* Put your CSS here */

* {
  @include box-sizing(border-box);
}

html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    position: relative;
}

input.input-field {
  height: 30px;
  padding: 0 6px;
  text-align: left;
  font-size: 12px;
  @include box-sizing(border-box);
}

input.input-search {
  width: 150px;
}

.input-field.ng-invalid:focus {
  color: #b94a48;
  border-color: #ee5f5b;
  &:focus {
    border-color: darken(#ee5f5b, 10%);
    @include box-shadow(0 0 6px lighten(#ee5f5b, 20%));
  }
}

// .hero-unit {
//     margin: 50px auto 0 auto;
//     width: 300px;
//     font-size: 18px;
//     font-weight: 200;
//     line-height: 30px;
//     background-color: #eee;
//     border-radius: 6px;
//     padding: 60px;
// }

// .hero-unit h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
// }
//
.container {
  width: 100%;
  padding: 5px;
  padding-left: 220px;
}

.modal-body {
  height: 500px;
}

.book-detail {
  overflow: hidden;
}

.book-detail-cover {
  width: 15%;
  float: left;
  padding: 25px 10px 5px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.book-detail-description {
  float: right;
  width: 85%;
  padding: 5px 10px;
}

.nav {
  width: 200px;
  position: fixed;
}

.nav-link {
  display: block;
  line-height: 30px;
}

.nav-search {
  margin-top: 20px;
}

.nav-logo {
  display: block;
  width: 100%;
  height: 200px;
  background: url("../images/logoSmall.png") no-repeat center center;
  @include background-size(contain);
}
