<img ng-src="{{book.cover}}" alt="cover" class="pull-left">

<h3>{{book.title}}</h3>
<p>{{book.author}}</p>
<p>{{book.publisher}}</p>
<p>{{book.year}}</p>
<p>ISBN-13: {{book.isbn.isbn13}}</p>
<p>ISBN-10: {{book.isbn.isbn10}}</p>

<h4>Výtlačky</h4>

<ul>
  <li ng-repeat="copy in book.copies">
    <p>{{copy.bookCopyId}}</p>
    <p>{{copy.date | date}}</p>
    <p>{{copy.status}}</p>
    <p>
      <button class="btn" ng-show="copy.status == 'available'" ng-click="open(copy)">Požičaj</button>
      <button class="btn-success" ng-show="copy.status == 'rented'" ng-click="returnBook(copy)">Vrátiť</button>
    </p>
  </li>
</ul>


<div modal="rentBook" close="close()" options="opts">
    <div class="modal-header">
        <h3>Požičať knihu</h3>
    </div>
    <div class="modal-body">
      <p>{{rentCopy | json}}</p>
      <p>
        <input type="text" ng-model="rentCopy.userId" typeahead="user.userId as user.name for user in users | filter:$viewValue | limitTo:8">
      </p>
    </div>
    <div class="modal-footer">
        <button class="btn cancel" ng-click="close()">Zrušiť</button>
        <button class="btn btn-success" ng-click="save()">Požičať</button>
    </div>
</div>
