<div>
  <form class="form-horizontal" ng-submit="auth(login)" name="authForm" style="max-width: 500px; margin: 50px auto;">
    <h3 class="text-center">Prihlásenie</h3>

    <p ng-show="error" class="alert alert-error">{{error}}</p>

    <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
    <input type="email" ng-model="login.email" id="inputEmail" class="input-field" required placeholder="admin@spolocenstvounited.sk">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPassword">Heslo</label>
    <div class="controls">
    <input type="password" ng-model="login.password" id="inputPassword" class="input-field" required placeholder="******">
    </div>
    </div>

    <div class="control-group">
    <div class="controls">
    <button type="submit" class="btn btn-success"><i class="icon-signin"></i> Prihlásiť sa</button>
    </div>
    </div>

    <div class="control-group">
    <div class="controls">
    <p><a href="#/register">Zaregistrovať sa</a></p>
    </div>
    </div>

  </form>
</div>
