
<section>
  <h4 class="content-header">Používateľ</h4>
  <div style="width: 500px; margin: 0 auto;">
  <form class="form-horizontal" ng-submit="updateUser(user)" name="updateUserForm">

    <div class="control-group">
      <img ng-src="{{user.gravatar}}" alt="">
    </div>

    <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
    <input type="email" ng-model="user.email" id="inputEmail" class="input-field" required placeholder="hello@spolocenstvounited.sk">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputName">Meno</label>
    <div class="controls">
    <input type="text" ng-model="user.name" id="inputName" class="input-field" placeholder="Spoločenstvo United">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPhone">Tel. Číslo</label>
    <div class="controls">
    <input type="tel" ng-model="user.phone" id="inputPhone" class="input-field" placeholder="+421 900 123 456">
    </div>
    </div>

    <div class="control-group">
    <div class="controls">
    <label class="checkbox">
      <input type="checkbox" ng-model="user.admin"> Admin
    </label>
    </div>
    </div>

    <div class="control-group">
    <div class="controls">
    <button type="submit" class="btn btn-success">Aktualizovať</button>
    </div>
    </div>
  </form>

  <form class="form-horizontal" ng-submit="setPassword(password)" name="setPasswordForm">
    <div class="control-group">
    <label class="control-label" for="inputPassword">Heslo</label>
    <div class="controls">
    <input type="password" ng-model="password" id="inputPassword" class="input-field" required placeholder="******">
    </div>
    </div>

    <div class="control-group">
    <div class="controls">
    <button type="submit" class="btn btn-success">Nastaviť heslo</button>
    </div>
    </div>
  </form>

  <div class="control-group">
    <div class="controls">
    <button class="btn btn-danger" ng-click="removeUser(user)">Vymazať</button>
    </div>
  </div>
  </div>

  <a ng-href="#/rents?user={{user.userId}}">História</a>
</section>
